---
layout: default
---

<h1>{{ page.title }}</h1>

<ul>
{% for post in site.posts %}
  {% assign post_year = post.date | date: "%Y" %}
  {% assign post_month = post.date | date: "%m" %}
  {% assign post_day = post.date | date: "%d" %}
  
  {% assign matches = true %}
  
  {% if page.year and post_year != page.year %}
    {% assign matches = false %}
  {% endif %}
  
  {% if page.month and post_month != page.month %}
    {% assign matches = false %}
  {% endif %}
  
  {% if page.day and post_day != page.day %}
    {% assign matches = false %}
  {% endif %}
  
  {% if matches %}
    <li>
      <span class="post-meta">{{ post.date | date: "%a. %b, %-d. %Y" }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
    </li>
  {% endif %}
{% endfor %}
</ul>
