---
layout: default
---

<div class="home">
  <div style="display: flex; gap: 30px;">
    <!-- Blog posts on the left -->
    <div style="flex: 1;">
      <h1 class="page-heading">{{ page.title | default: "Blog" }}</h1>
      
      {%- if site.posts.size > 0 -%}
        <ul class="post-list">
          {%- for post in site.posts -%}
            {%- unless post.hidden -%}
              <li>
                <span class="post-meta">{{ post.date | date: "%a. %d, %b. %Y" }}</span>
                <h3>
                  <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                  </a>
                </h3>
              </li>
            {%- endunless -%}
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>

    <!-- Sidebar filters on the right -->
    <aside style="flex: 0 0 250px;">
      {% include search-filters.html %}
    </aside>
  </div>
</div>
