---
---
<h1>Posts in {{ page.year }}-{{ page.month | prepend: "0" | slice: -2 }}</h1>
{% assign month_padded = page.month | prepend: "0" | slice: -2 %}
{% assign ym = page.year | append: "-" | append: month_padded %}
<ul>
  {% assign posts_in_month = "" | split: "" %}
  {% for post in site.posts %}
    {% assign post_ym = post.date | date: '%Y-%m' %}
    {% if post_ym == ym %}
      {% assign posts_in_month = posts_in_month | push: post %}
    {% endif %}
  {% endfor %}
  {% for post in posts_in_month %}
    <li><a href="{{ post.url }}">{{ post.title }}</a> — {{ post.date | date: "%a. %d, %b %Y" }}</li>
  {% endfor %}
  {% if posts_in_month == empty %}
    <li>No posts for this month.</li>
  {% endif %}
</ul>
